<div class="container">
  <%= react_component('UsersLeave') %>
  <div class="actions">
    <%= link_to "My Page", user_path(@user_data.id), class: "actions__signup" %>
    <%= link_to "Delete", user_session_path, method: :delete,data: { confirm: 'Are you sure?' }, class: "actions__destroy" %>
  </div>  
</div>