<div class="container">
  <%= react_component('UsersShow',{profileData: @profile_data }) %>
  <div class="actions">
    <div class="actions__mypr">
      <%= link_to "My Pr", my_prs_path %>
    </div>
  </div>  
</div>
