<div class="container">
  <div class="profile">
  <h1>-Announces-</h1>
    <div class="image">
      <% @announces.each do |announce| %>
        <div class="image__position">
          <div><%= announce.title%></div>
          <div><%= image_tag announce.img, size: "250x250" %></div>
          <div><%= announce.explanation %></div>
          <div><%= link_to "Edit", edit_announce_path(announce.id), class: "image__position__button"%></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
