<div class="container">
  
  <h1>Announces#index</h1>
    <div class="movie">
    <% @announces.each do |announce| %>
      <div>
        <div><%= announce.title%></div>
        <div><%= image_tag announce.img, size: "100x100" %></div>
        <div><%= announce.explanation %></div>
        <div><%= link_to "edit", edit_announce_path(announce.id)%></div>
      </div>
    <% end %>
  </div>
</div>
