// Place all the styles related to the communities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
//.sendbutton{
//    position: absolute;
//    bottom: 100px;
//    width: 100%;
//}
.sendr{
    width: 50%;
    background: #33a814;
    padding: 10px;
    margin: 1% auto;
    color: #FFFFFF;
    border-radius: 50px;
    font-size: 15px;
   &__delete{
      color: white;
      background: black;
      border-radius: 5px;      
      opacity: 1;
      transition: 0.5s;
      margin: 0 1%;
   }
}

