.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #53531dba;
  z-index: 1000;
  > ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    > a {
      color: white;
      > li {
        color: white;
        display: grid;
        text-align: center;
      }
    }
    > li {
      > form {
        > button {
          background-color: unset;
          border: none;
          > p {
            display: grid;
            color: white;
            font-size: 17px;
          }
        }
      }
    }
  }
}