// Place all the styles related to the my_prs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.movie{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    min-height: 115vh; //40
    justify-content: left;
   &__position{
    width: 35%;
    height: 37vh;
    margin: 0% 5%;
    flex-wrap: wrap;
    text-align: center;
    background-color: black;
    @media (max-width: 800px) {
    width: 100%;
   }
    > p {
      background-color: #0d579c;
    }
    &__elm{
        height: 30vh;
        background-color: black;
    }
   &__title{
       display: flow;
       background-color: #0d579c;
       color: black;
   }    
      .movie__position__title a:visited{
      color: white;
  }
  }
}
.certification {
    text-align: center;
    &__pr {
    width: 250px;
  }
}
button{
    background-color: black;
    color: white;
    padding: 3px 1%;
    border: 1px #696969 solid;
    margin: 10px;
}