// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.profile{
    text-align: center;
   &__index{
     margin: 0 20%;
     &__a{
       padding: 50px;
     }
  }
}
.opening-animation {
  position: absolute;
  width: 100%;
  height: 100vh;
  font-weight: 400;
  color: aliceblue;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-in-out;
  background-color: #009687;
  animation: openingAnimation 1s forwards;
  @keyframes openingAnimation {
    from {
      display: flex;
      height: 100vh;
    }
    to {
      height: 0vh;
      display: none;
    }
  }
}
.long__text{
  display: inline-flex;
}
.delete__text{
  text-align: center;
  padding: 5%;
  &__message{
    background: linear-gradient(transparent 50%, #ff4500 100%);
  }
}
.shutter{
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#1e1e1e;
  z-index:9999;
  animation: byeShutter 1.5s forwards;
}
.shutter::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background-color: #fff;
  width: 0;
  height: 1px;
  animation: shutterOpen 1s forwards;
}
@keyframes byeShutter {
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -1;
  }
}
@keyframes shutterOpen {
  0% {
    width: 0;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  90% {
    width: 100%;
    height: 100%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}